@import "../../app.scss";
* {
  h1,
  h2,
  h3 {
    font-weight: 500;
  }
}
.info-landing {
  position: relative;
  height: 100%;
  width: 1440px;

  .ellipse_red-1 {
    position: absolute;
    margin-top: -220px;
    margin-left: 600px;
    z-index: -1;
  }
  .ellipse_blue {
    position: absolute;
    margin-top: 60px;
    margin-right: -130px;
    right: 0;
    z-index: -2;
  }
  .info-top {
    margin-top: 100px;
    margin-left: 148px;
    width: 630px;
    display: flex;
    justify-content: space-between;
    .info-intro {
      margin-top: 60px;
      width: 300px;
      h2 {
        width: 631px;
        height: 88px;
        left: 148px;
        top: 175px;

        font-size: 36px;
        line-height: 44px;
        text-transform: capitalize;
      }
      h1 {
        width: 411px;
        height: 59px;
        left: 148px;
        top: 268px;
        padding: 5px 0 5px;
        margin-bottom: 20px;

        font-size: 48px;
        line-height: 59px;
        text-transform: uppercase;
        color: #da2a1b;
      }
      p {
        width: 608px;
        height: 68px;
        left: 148px;
        top: 352px;

        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: justify;
        color: #000000;
      }
    }
    .img-area {
      img {
        margin-left: 400px;
        margin-top: -305px;
        width: 623px;
        height: 623px;
      }
      .line-brown {
        position: absolute;
        width: 344px;
        height: 32px;
        right: 0;
        background: #c4c4c4;
      }
    }
  }
  .info-bottom {
    width: 100%;
    margin-top: 54px;
    margin-left: 148px;
    display: inline-flex;

    button {
      height: 38px;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      border-radius: 20px;
      border: none;
      background-color: var(--main-color);
      color: var(--white-text);
      padding: 7px 20px;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }
    .info-bottom-left {
      width: 608px;
      h3 {
        width: 541px;
        font-size: 30px;
        padding: 5px 0 5px;
        line-height: 37px;
        color: var(--main-color);
      }
      p {
        width: 608px;
        margin-top: 23px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: justify;
        color: #000000;
      }
      .steps {
        margin-top: 30px;
        display: -webkit-flex;
        -webkit-justify-content: center;
        display: flex;
        justify-content: center;
        .step1,
        .step2,
        .step3 {
          -webkit-flex: 1;
          flex: 1;
        }
        .cycle {
          border: 4px solid var(--main-color);
          border-radius: 50%;
          height: 75px;
          width: 75px;
          margin-left: 46px;
          p {
            width: 40px;
            margin-left: 17px;
            text-align: center;
          }
        }
        .text {
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          margin-top: 23px;
          margin-left: -20px;
          margin-right: 19px;
          text-align: center;
          color: #000000;
        }
      }
      .signin {
        margin-top: 13px;
        .signin-text {
          margin-left: 64px;
          .signin-text-crop1 {
            display: inline-flex;
          }
          .signin-text-crop2 {
            display: none;
          }
        }
        button {
          margin: 30px 0px 50px 230px;
        }
        .line {
          display: none;
          width: 358px;
          margin-left: -20px;
          margin-bottom: 30px;
          margin-top: -10px;
          border-bottom: 1px solid #d5d5d5;
        }
      }
      img {
        position: absolute;
        width: 255px;
        height: 255px;
        left: -124px;
        top: 675px;
        z-index: -3;
      }
    }
    .info-bottom-right {
      margin-left: -50px;
      h3 {
        font-size: 24px;
        line-height: 29px;
        padding: 5px 0 5px;
        margin-left: 276px;
        color: var(--main-color);
      }
      img {
        display: block;
        width: 129px;
        height: 200px;
        margin-left: 409px;
        margin-top: 15px;
      }
      p {
        width: 608px;
        margin-top: 30px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: justify;
        color: #000000;
      }
      .visit {
        margin-top: 36px;
        .visit-text {
          margin-left: 280px;
        }
        button {
          margin-left: 425px;
          margin-top: 30px;
          background-color: #da2a1b;
        }
      }
    }
  }
}

//Responsive tablet
@include tablet {
  .info-landing {
    margin-left: -132px;
    margin-top: -50px;
    .ellipse_red-1 {
      margin-top: -155px;
      margin-left: 635px;
    }
    .ellipse_blue {
      margin-top: 43px;
      margin-right: 150px;
    }
    .info-top {
      .info-intro {
        margin-top: 80px;
        h2 {
          width: 504px;
          font-size: 30px;
          line-height: 36px;
        }
        h1 {
          margin-top: -20px;
          font-size: 36px;
          line-height: 43px;
        }
        p {
          width: 514px;
        }
      }
      .img-area {
        img {
          width: 455px;
          height: 455px;
          margin-left: 292px;
          margin-top: -155px;
        }
        .line-brown {
          visibility: hidden;
        }
      }
    }
    .info-bottom {
      margin-bottom: 50px;
      .info-bottom-left {
        width: 514px;
        h3 {
          font-size: 20px;
          line-height: 24px;
          margin-left: 74px;
        }
        p {
          width: 514px;
        }
        .steps {
          .step1,
          .step2,
          .step3 {
            .step3-text {
              .step3-text-crop {
                display: none;
              }
            }
          }
          .text {
            margin-left: 14px;
          }
        }
        .signin {
          margin-top: 34px;
          margin-left: -50px;
          .signin-text {
            text-align: center;
            .signin-text-crop1 {
              display: none;
            }
            .signin-text-crop2 {
              display: inline-flex;
            }
          }
        }
        img {
          bottom: 0;
          left: 7px;
          top: 755px;
        }
      }
      .info-bottom-right {
        margin-left: 10px;
        h3 {
          font-size: 20px;
          line-height: 24px;
          margin-left: 76px;
        }
        img {
          margin-left: 200px;
        }
        .visit {
          margin-left: -210px;
          margin-top: 42px;
        }
      }
    }
  }
}

//Responsive mobile
@include mobile {
  .info-landing {
    width: 414px;
    margin-top: 240px;
    margin-left: 26px;
    .ellipse_red-1 {
      margin-top: -80%;
      margin-left: -160px;
    }
    .ellipse_blue {
      margin-top: -190px;
      margin-right: -130px;
    }
    .info-top {
      width: 414px;
      margin-left: 6px;
      .info-intro {
        h2 {
          width: 326px;
          height: 148px;
          margin: 20px 0;
          line-height: 36px;
        }
        h1 {
          width: 240px;
          height: 34px;
          font-size: 28px;
          line-height: 34px;
        }
        p {
          width: 366px;
          height: 136px;
        }
      }
      .img-area {
        img {
          margin-left: -268px;
          margin-top: -328px;
          width: 393px;
          height: 393px;
        }
        .line-brown {
          visibility: hidden;
        }
      }
    }
    .info-bottom {
      display: block;
      margin-left: -50px;
      .info-bottom-left {
        width: 366px;
        h3 {
          width: 247px;
          text-align: center;
          padding-left: 30px;
        }
        .simple-text {
          width: 366px;
          padding-left: 55px;
        }
        .steps {
          margin-left: 8px;
          display: inline-block;
          .cycle {
            display: inline-block;
            margin-top: 30px;
          }
          .text {
            display: inline-block;
            padding-left: 10px;
          }
        }
        .signin {
          margin-left: 70px;
          .signin-text {
            width: 204px;
            text-align: center;
            .signin-text-crop1 {
              display: none;
            }
            .signin-text-crop2 {
              display: inline-flex;
            }
          }
          button {
            width: 120px;
            margin-left: 100px;
          }
          .line {
            display: flex;
          }
        }
        img {
          position: absolute;
          left: -150px;
          top: 1635px;
        }
      }
      .info-bottom-right {
        h3 {
          text-align: center;
          width: 286px;
        }
        img {
          margin-left: 155px;
        }
        .visit {
          .visit-text {
            text-align: center;
            width: 261px;
            padding-left: 25px;
          }
          button {
            margin-left: 385px;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}
