@import '../../app.scss';
.footer {
    position: relative;
    width: 100%;
    height: 38px;
    bottom: 0;
    font-size: 12px;
line-height: 15px;
    background: var(--main-color);
    .container {
        color: var(--white-text);
        display: flex;
        justify-content: space-between;
        .left {
            margin: 13px 20px;
        }
        .right {
            margin: 13px 20px;
            a {
                margin: 0 10px;
                color: var(--white-text);
            }
        }
    }
}