:root {
    --main-color: #003B5B;
    --white-text: #ffffff;
}
$text-font: 'Montserrat',normal;


@mixin tablet {
    @media (max-width: 1024px) {
      @content;
    }
  }
  
  @mixin mobile {
    @media (max-width: 415px) {
      @content;
    }
  }